.wpcwv-messageScrollbarWraper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    overflow-y: auto;
    overflow-x: hidden;
    will-change: auto;
    background: #fff;
    transition: all .3s;
    position: relative;
    float: left;
}