.cwv-operatorsWraper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cwv-avaters {
  padding: 18px 0;
  display: flex;
}
.cwv-operatorTitle {
    font-size: 18px;
    font-weight: bold;
}
.cwv-operatorDesc {
    font-size: 12px;
}
.cwv-avatar {
    width: 50px;
    height: 50px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    float: left;
    flex-direction: column;
    display: inline-flex;
    justify-content: center;
    overflow: auto;
    align-items: flex-start;
    margin-left: -30px;
}
.cwv-preChatText {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 500;
  flex-direction: column;
  padding-left: 10px;
}
.cwv-operatorTitleAlt{
display: none;
}
.cwv-operatorCollapse .cwv-operatorTitle{
  margin: 0;
}
.cwv-operatorCollapse .cwv-operatorTitle, .cwv-operatorCollapse .cwv-operatorDesc, .cwv-operatorCollapse .cwv-operatorName{
  display: none;
}
.cwv-operatorCollapse .cwv-operatorTitleAlt{
display: flex;
}
.cwv-operatorCollapse .cwv-avaters{
padding: 0;
}
.cwv-operatorCollapse .cwv-operatorsWraper{
justify-content: flex-start;
}