.wpcwv-welcomeMessage {
    background-color: rgb(255, 255, 255);
    max-width: 340px;
    position: absolute;
    bottom: 40px;
    box-shadow: 5px 5px 15px rgba(0,0,0, .3);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    max-height: calc(100% - 76px);
    right: 48px;
    margin-left: 20px;
    padding: 0px 30px 11px 24px;
    border-radius: 10px;
    transition: all .4s;
}
.wpcwv-wmBody {
    max-width: 290px;
    font-size: 17px;
    position: relative;
    overflow-wrap: break-word;
    white-space: pre-line;
    padding: 19px 38px 19px 0px;
    background: rgb(255, 255, 255);
    overflow: hidden auto;
}
.wpcwv-wmBody h2 {
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.4em;
    font-size: 1.8em;
}
.wpcwv-wmHeader {
    float: right;
    display: block;
    position: absolute;
    right: 25px;
    top: 0px;
    opacity: 0;
  transition: 0.8s;
}
.wpcwv-welcomeMessage:hover .wpcwv-wmHeader {
    opacity: 1;
    box-shadow: 5px 5px 25px rgba(0,0,0, .5);
    transform: translate(0, -3px);
}
.wpcwv-welcomeMessage:hover {
    box-shadow: 5px 5px 25px rgba(0,0,0, .5);
    transform: translate(0, -3px);
}

.wpcwv-btnClose{
        margin-right: -20px;
    margin-top: 5px;
}