/* .inputForm{
    display: inline;
}
.inputForm form {
    padding: 6px;
    display: flex;
    width: 100%;
    background: #9C27B0;
    float: left;
}
.inputForm input {
    padding: 6px;
    background: #FFC107;
    outline: 0;
    color: #4A148C;
}

.inputForm button {
    padding: 6px;
    width: 100%;
    background: #4CAF50;
    float: left;
    color: #fff;
} */
.wpcwv-FooterWraper {
    width: 100%;
}
.wpcwv-widgetFooter {
    width: auto;
    background: #E91E63;
    position: relative;
    padding: 10px 15px;
    display: flex;
}
.wpcwv-messageForm {
    display: flex;
    /* background: #F44336; */
    /* padding: 10px; */
    width: 100%;
    box-sizing: border-box;
}
textarea.wpcwv-textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #777;
    outline: none;
    resize: none;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    height: 100%;
    border: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
