.wpcwv-welcomeMessage {
    background-color: rgb(255, 255, 255);
    max-width: 340px;
    position: absolute;
    bottom: 26px;
    box-shadow: 5px 5px 15px rgba(0,0,0, .3);
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-height: calc(100% - 76px);
    right: 48px;
    margin-left: 20px;
    padding: 0px 24px;
    border-radius: 12px;
}
.wpcwv-wmBody {
    max-width: 290px;
    font-size: 17px;
    position: relative;
    overflow-wrap: break-word;
    white-space: pre-line;
    padding: 19px 38px 19px 0px;
    background: rgb(255, 255, 255);
    overflow: hidden auto;
}
.wpcwv-wmBody h2 {
    margin-bottom: 10px;
}
.wpcwv-wmHeader {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.wpcwv-btnClose{
        margin-right: -20px;
    margin-top: 5px;
}