.wpcwv-chatHeader {
    padding: 24px 14px 20px 14px;
    position: relative;
    z-index: 4;
    color: #fff;
    background: #1e90ff;
}
.wpcwv-chatEvents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.wpcwv-chatEventsLeft {
    display: inline;
    width: 20%;
    height: 30px;
}
.cwv-operators {
    width: 60%;
}
.wpcwv-chatEventsRight {
    display: inline;
    width: 20%;
    height: 30px;
}

