.wpcwv-kbHeader {
    padding: 16px 14px 12px 14px;
    position: relative;
    z-index: 4;
    color: #fff;
    background: #1e90ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    line-height: 10px;
}
.wpcwv-listWraper {
    margin: auto;
    width: 90%;
    overflow: hidden;
    border-radius: 4px;
    background: white;
    margin-top: 16px;
    transition: all .2s;
}