.cwv-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.wpcwv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: initial;
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: none;
}

.wpcwv-buttonPrimary{
 background-color: dodgerblue;
    padding: 10px 25px;
    color: white;
    border-radius: 15px;
    text-align: center;
    transition: all .2s;
    overflow: auto;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: .1em;
}

.wpcwv-buttonPrimary:hover{
  background-color: SteelBlue;
}
.wpcwv-aniSVGRight:hover svg{
  animation : cwvSVGRightFadeoutAnination 1s;
}

@keyframes cwvSVGRightFadeoutAnination{
  0%, 100% {
    opacity : 1;
    transform: translateX(0%);
  }
  50%{
    opacity:0;
    transform: translateX(100%);
  }
  70%{
    opacity:0;
    transform:translateX(-100%);
  }
}