/* @import './color.css'; */
/* @import './helpers.css';  */

.wpcwv-container h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
}
.wpcwv-container h2 {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.8em;
}
.wpcwv-container h4 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.4em;
}
.wpcwv-container p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
}
.wpcwv-theme{
    color: #fff;
    background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255));
    box-shadow: 5px 5px 15px rgba(0,0,0, .3);
}
.wpcwv-container {
  height: 100vh;
  width: 100%;
}
.wpcwv-startButton {
  position: absolute;
    width: 112px;
    height: 140px;
    bottom: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    pointer-events: none;
    z-index: 99999;
    right: 0px;
    left: auto;
}
.wpcwv-widgetButton {
  width: 60px;
  height: 60px;
  background-size: 130% 130%;
  position: relative;
  will-change: transform;
  border-radius: 28px;
}


.wpcwv-widgetWraper {
    display: flex;
    flex-direction: column;
    width: 372px;
    max-height: calc(100% - 47px);
    height: calc(100% - 47px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    pointer-events: auto;
    overflow: hidden;
    z-index: 99999;
}
.wpcwv-chatWidget, .wpcwv-chatDashboard, .wpcwv-kbWraper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100% - 47px);
    height: calc(100% - 47px);
    border-radius: 10px;
    pointer-events: auto;
    box-shadow: 5px 5px 15px rgba(0,0,0, .3);
    overflow: hidden;
    z-index: 99999;
}


.cwv-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.wpcwv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: initial;
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: none;
}

.wpcwv-buttonPrimary{
 background-color: dodgerblue;
    padding: 10px 25px;
    color: white;
    border-radius: 15px;
    text-align: center;
    transition: all .2s;
    overflow: auto;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: .1em;
}

.wpcwv-buttonPrimary:hover{
  background-color: SteelBlue;
}
.wpcwv-aniSVGRight:hover svg{
  animation : cwvSVGRightFadeoutAnination 1s;
}

@keyframes cwvSVGRightFadeoutAnination{
  0%, 100% {
    opacity : 1;
    transform: translateX(0%);
  }
  50%{
    opacity:0;
    transform: translateX(100%);
  }
  70%{
    opacity:0;
    transform:translateX(-100%);
  }
}

