.wpcwv-messageWrapper {
    margin: 0;
    line-height: 20px;
    width: auto;
    clear: both;
    position: relative;
    padding: 10px 15px;
    display: flex;
    flex-shrink: 0;
     margin: 2px 0px;
    margin-top: 9px;
}
.wpcwv-avaterWrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}
.wpcwv-avaterWrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wpcwv-avaterWrapper img[src^="//"], .wpcwv-avaterWrapper img[src^=http] {
    display: block;
}
.wpcwv-avaterWrapper figcaption {
    color: #999;
    font-size: 60%;
    z-index: 0;
}
.wpcwv-avaterWrapper img[src^="//"]+figcaption, .wpcwv-avaterWrapper img[src^=http]+figcaption {
    display: none;
}

.wpcwv-messageContainer {
    width: 80%;
    margin-left: 5px;
}
.wpcwv-messageHeader {
    margin-bottom: 5px;
    display: block;
}
.wpcwv-messageSender {
    color: #999;
    font-size: 14px;
    /* font-weight: 600; */
}
.wpcwv-messageHeader time{
    color: #999;
    margin: 0 5px;
}
.wpcwv-senderMessage {
    color: #333;
    background: rgb(240, 242, 247);
    font-size: 1.6em;
    display: inline-block;
    clear: both;
    position: relative;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 145%;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
}
.wpcwv-client{
    float: right;
}
